@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nanum gothic, Arial;
    font-weight: 300;
}

/* Headings and logo */

h1 {
    font-family: Nanum gothic, Arial;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #325C70;
}

#logo {
    float: left;
    font-size: 300%;
}

/* Navigation */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: #325C70;
}

#menu a:hover {
    border-bottom: 1px solid #325C70;
}

.active {
    border-bottom: 1px solid #325C70;
}

/* frontpage-image */

#frontpage-image {
    height: 600px;
    width: 100%;
    background: url(../css/images/cloudberry\ frontpage.png) no-repeat center center;
    background-size: cover;
    overflow: hidden;
    
}
