@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nanum gothic, Arial;
    font-weight: 300;
}

/* Headings and logo */

h1,h2 {
    font-family: Nanum gothic, Arial;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #325C70;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 1.875rem;
    
}

/* Navigation */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 1.5625rem;
}

#menu a {
    text-decoration: none;
    color: #325C70;
}

#menu a:hover {
    border-bottom: 1px solid #325C70;
}

.active {
    border-bottom: 1px solid #325C70;
}

/* frontpage-image */

#frontpage-image {
    height: 37.5rem;
    width: 100%;
    background: url(../css/images/cloudberry\ frontpage.png) no-repeat center center;
    background-size: cover;
    overflow: hidden;

}

/* Information */

#info-c {
    color: #325C70;
    line-height: 4.688rem;
    text-align: center;
    font-size: 200%;
    margin-top: 1.875rem;
    margin-bottom: 0.938rem;
}

#p {
    text-align: center;
    font-size: 120%;
    margin: auto;
    width: 50%;
    color:#325C70
    
}

#center-picture {
    height: 300px;
    width: 100%;
    background: url(../css/images/cloudberries-info.jpg) no-repeat center center;
   
}

/* recipe */

#recipe {
    color: black;
    background-color: #CEE1F3;
    list-style-type: none;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    text-align: center;
    
}

#ice-cream {
    color: black;
    padding-top: 1.875rem;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 0.625rem;
    clear: both;
    text-align: left;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 1px;
    
}

h2 {
    color:black;
    line-height: 75px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 2px;
    
}
 #warm-cloudberries {
    color: black;
    padding-top: 1.875rem;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 0.625rem;
    text-align: left;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 1px;
 }

 #do-the-following {
    color: black;
    padding-top: 1.875rem;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 0.625rem;
    text-align: left;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 1px;
 }

 .content {
    text-align: left;
    margin: 0 auto;
    width: 50%;
    list-style: none;
    clear: both;
    
 }

    #recipe-picture {
        object-fit: fill;
        text-align: center;
        
    }

    .subscribe {
        margin: 1.563rem 18.75rem;
    }


#h2 {
    color: white;
    line-height: 75px;
    text-decoration: none; 
    text-align: center;
    margin-bottom: 1.875rem;
}

.signup-form {
    margin: 9.375rem 10% 1.25rem 9.375rem;
    background-color: #325C70;
    color: #fafafa;
    max-width: 31.25rem;
    text-decoration: none;
    text-align: left;
    padding: 1.875rem;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #CE7524;
}
.submit-button {
    margin-top: 12px;
    border-radius: 10px;
    padding: 10px 28px 10px 28px;
    text-align: center;
    font-size: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #CE7524;
    color: #fafafa;
    display: block;
    
}

.submit-button:hover {
    background-color: #fafafa;
    color: #CE7524;
}

/* Footer */

footer{
    height: 150px;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #CE7524;
}

