@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nanum gothic, Arial;
    font-weight: 300;
}

/* Headings and logo */

h1,h2 {
    font-family: Nanum gothic, Arial;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 1rem;
    
}

/* Navigation */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 2rem;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 1px solid #325C70;
}

.active {
    border-bottom: 1px solid #325C70;
}

/* frontpage-image */

#frontpage-image {
    height: 40rem;
    width: 100%;
    background: url(../css/images/cloudberry\ frontpage.png) no-repeat center center;
    background-size: cover;
    overflow: hidden;

}

/* Information */

#about {
    color: black;
    line-height: 4rem;
    text-align: center;
    font-size: 200%;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

#p {
    text-align: justify;
    font-size: 120%;
    width: auto;
    color: black;
    padding-left: 40px;
    padding-right: 40px;
    
}

#center-picture {
    height: 300px;
    width: 100%;
    background: url(../css/images/cloudberriesinfo.jpg) no-repeat center center;
    margin-bottom: 4rem;
   
}

/* recipe */

.Vanilla-Ice-cream-with-warm-cloudberries {
    
    background-color: #9DB2C1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    
    
}
.vanilla-pie {
    color: black;
    text-align: left;
}

.recipe-subheading {
    color: black;
    padding-top: 2rem;
    width: 50%;
    margin-bottom: 1rem;
    text-align: left;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 1px;
    
}

 .content {
    text-align: left;
    color: black;
    list-style-type: none;
    
 }

 .how-to {
    text-align: left;
    color: black;
 }

 /* sign-up form */

    #subscribe {
        height: 700px;
        width: 100%;

    }

    #titel {
        text-align: center;
        color: white;
        margin-bottom: 20px;
    }

.signup-form {
    margin: 20% auto;
    background-color: #325C70;
    color: #fafafa;
    max-width: 500px;
    text-decoration: none;
    text-align: left;
    padding: 2rem;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #CE7524;
}
.submit-button {
    margin-top: 12px;
    border-radius: 10px;
    padding: 10px 28px 10px 28px;
    text-align: center;
    font-size: 100%;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #CE7524;
    color: black;
    display: block;
    
}

.submit-button:hover {
    background-color: #fafafa;
    color: #CE7524;
}

/* Contact */

#contact {
    background-color: #CE7524;
    height: 200px;
    width: 100%;
}

#contact-heading {
    font-size: 150%;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 30px;
    color: black;
}

#contact-text {
    font-size: 120%;
    text-align: center;
    color: black;
    padding-bottom: 40px;
}

/* Footer */

footer{
    height: 150px;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #CE7524;
}

/* Media queries */
/* For medium screens size from 320px and up */
@media screen and (min-width: 320px) and (max-width: 550px) {

    #menu {
        float: left;
        line-height: 20px;
        font-size: 70%;
        letter-spacing: normal;
        margin-left: 20px;
        margin-bottom: 20px;
    }   
    
    #frontpage-image {
        height: 30rem;
        width: 100%;
        background-size: cover;
        
    }
    
    #logo {
        font-size: 200%;
    }
    
    }

    /* For medium screen sizes form 550px wide and up */  
@media screen and (min-width: 550px) {

    #menu {
        float: left;
        padding-left: 1rem;
    }

}

/* For screen sixes from 844px wide and up */
@media screen and (min-width: 844px) {

    #menu {
        float: right;
        margin: 0 auto;
    }

}


