@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nanum gothic, Arial;
    font-weight: 300;
}

/* Headings and logo */

h1,h2 {
    font-family: Nanum gothic, Arial;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #325C70;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* Navigation */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 25px;
}

#menu a {
    text-decoration: none;
    color: #325C70;
}

#menu a:hover {
    border-bottom: 1px solid #325C70;
}

.active {
    border-bottom: 1px solid #325C70;
}

/* frontpage-image */

#frontpage-image {
    height: 600px;
    width: 100%;
    background: url(../css/images/cloudberry\ frontpage.png) no-repeat center center;
    background-size: cover;
    overflow: hidden;

}

/* Information */

#info-c {
    color: #325C70;
    line-height: 75px;
    text-align: center;
    font-size: 200%;
    margin-top: 30px;
    margin-bottom: 15px;
}

#p {
    text-align: center;
    font-size: 120%;
    margin: auto;
    width: 50%;
    color:#325C70
    
}

#center-picture {
    height: 300px;
    width: 100%;
    background: url(../css/images/cloudberries-info.jpg) no-repeat center center;
   
}

/* recipe */

#recipe {
    color: black;
    background-color: #CEE1F3;
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    
}

#ice-cream {
    color: black;
    padding-top: 30px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    clear: both;
    text-align: left;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 1px;
}

h2 {
    color:black;
    line-height: 75px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 2px;
    
}
 #warm-cloudberries {
    color: black;
    padding-top: 30px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 1px;
 }

 #do-the-following {
    color: black;
    padding-top: 30px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 1px;
 }

 .content {
    text-align: left;
    margin: 0 auto;
    width: 50%;
    list-style: none;

 }

    #recipe-picture {
    height: 300px;
     width: 100%;
    float: right;
    background: url(../css/images/vanilla\ ice\ cream.jpg) no-repeat center right;
    margin-right: 380px;
    clear: left;
 
}
